.Navigation
	.Navigation-bg-close
	.Button--close
		span
	nav(role="navigation")
		span
			img(src="/assets/images/logo.svg")
		ul
			li
				a(href="/?section=fact1") Fakt 1
			li
				a(href="/?section=fact2") Fakt 2
			li
				a(href="/?section=fact3") Fakt 3
			li
				a(href="/?section=fact4") Fakt 4
			li
				a(href="/?section=fact5") Fakt 5
			li
				a(href="/?section=fact6") Fakt 6
			li
				a(href="/contact") Kontakt

.Navigation-bg-close-content
