#start
	include intro.pug
.Boxen
	include box1.pug
	include box2.pug
	include box3.pug
	include box4.pug
	include box5.pug
	include box6.pug
	include box7.pug
	include box8.pug
	include box9.pug
	include box10.pug
	include box11.pug
	include box12.pug
	include box13.pug
	include box14.pug
	include box15.pug
	include box16.pug
	include box17.pug
	include box18.pug
	include box19.pug
	include box20.pug
	include box21.pug
	include box22.pug
	include box23.pug
	include box24.pug
	include box25.pug
	include box26.pug
	include box27.pug
	include box28.pug
	include box29.pug
	include box30.pug
	include box31.pug
	include box32.pug
	include box33.pug
	include box34.pug
	include box35.pug
	include box36.pug
#bottom
	include outro.pug
