#fact12(class="invisible")
.Box.Box--double(class="animate12")
	.Fb
		div
			span Fakt
			span 12
		div
			span Share
			span 12
	.Box-body
		.Box-bottom
			.Heading
				h1 Geile Tische
			.Copy
				p Hinter dem heimischen Bett ist der Küchentisch mit 14% der zweitbeliebteste Ort für Sex. Ob Sex à la Carte oder Schnellimbiss wissen wir nicht!
