#fact19(class="invisible")
.Box.Box--tiny(class="animate19")
	.Fb
		div
			span Fakt
			span 19
		div
			span Share
			span 19
	.Box-body
		.Box-center
			.Heading.Heading--small
				h1 Was sich bewährt hat…
			.Copy.Copy--small
				p Nur 4,8 unterschiedliche Stellungen nutzen deutsche Liebespaare im Schnitt beim Sex.
