#fact10.Box.Box--tiny.Box--bg-grey(class="animate10")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/fact10.html")
			div
				span Fakt
				span 10
			div
				span Share
				span 10
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Box-center
			.Heading.Heading--small
				h1 Kommt Zeit, kommt Sex
			.Copy.Copy--small
				p Stimmt fast! Zumindest sind Leute zwischen 56 und 65 Jahren in Deutschland sexuell aktiver als die unter 25. Merke: Das Alter kann also getrost kommen.
