#fact17.Box.Box--single.Box--bg-lightpink(class="animate17")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/fact17.html")
			div
				span Fakt
				span 17
			div
				span Share
				span 17
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--top
			include ../_svg/amorelie_17.svg
		.Box-bottom
			.Heading
				h1 Gib mir 5
			.Copy
				p Die meisten Deutschen wünschen sich rund 5x pro Woche Sex. An der Umsetzung hapert es aber, denn im Schnitt passiert’s nur 2x!
