#fact12.Box.Box--double(class="animate12")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/?section=fact12")
			div
				span Fakt
				span 12
			div
				span Share
				span 12
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--left
			include ../_svg/amorelie_12.svg
		.Box-right
			.Heading.Heading--double
				h1 Küchenbeichte
			.Copy.Copy--double
				p Hinter dem heimischen Bett ist der Küchentisch mit 14% der zweitbeliebteste Ort für Sex. Ob Sex à la Carte oder Schnellimbiss wissen wir nicht!
