#fact17(class="invisible")
.Box.Box--single.Box--bg-lightpink(class="animate17")
	.Fb
		div
			span Fakt
			span 17
		div
			span Share
			span 17
	.Box-body
		.Figure.Figure--top
			include ../_svg/amorelie_17.svg
		.Box-bottom
			.Heading
				h1 Gib mir 5
			.Copy
				p Die meisten Deutschen wünschen sich rund 5x pro Woche Sex. An der Umsetzung hapert es aber, denn im Schnitt passiert’s nur 2x!
