#fact11.Box.Box--tiny.Box--bg-lightgrey(class="animate11")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/?section=fact11")
			div
				span Fakt
				span 11
			div
				span Share
				span 11
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Box-center
			.Heading.Heading--small
				h1 The happy Twenties
			.Copy.Copy--small
				p Dafür haben 67% der 20 bis 30-Jährigen mit festem Partner die höchste sexuelle Zufriedenheit.
