#fact13.Box.Box--single.Box--bg-lightgrey(class="animate13")
	.Fb
		div
			span Fakt
			span 13
		div
			span Share
			span 13
	.Box-body
		.Figure.Figure--top
			include ../_svg/amorelie_13.svg
		.Box-bottom
			.Heading
				h1 Besser runterkommen
			.Copy
				p Sex ist das effektivste Beruhigungsmittel – er soll 10x besser wirken als Valium.<br/><br/>
