#fact1.Box.Box--single.Box--bg-lightrosa(class="animate1")
	.Fb
		div
			span Fakt
			span 1
		div
			span Share
			span 1
	.Box-body
		.Figure.Figure--top
			include ../_svg/amorelie_01_sockenleine.svg
		.Box-bottom
			.Heading
				h1 In Socken verlocken
			.Copy
				p Hättest Du es gewusst: Wärme erhöht die Orgasmus-Wahrscheinlichkeit. Beim Sex sollten Männer und Frauen daher ruhig die Socken anlassen. Ob in Socken dann aber noch heißer Sex aufkommt, wurde nicht untersucht. Wir empfehlen: Netzstrümpfe!
