#fact16.Box.Box--tiny(class="animate16")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"fact16.html")
			div
				span Fakt
				span 16
			div
				span Share
				span 16
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Box-center
			.Heading.Heading--small
				h1 Neue Spielplätze
			.Copy.Copy--small
				p Immer im Bett oder auf dem Küchentisch ist ja auch langweilig? Genau! 46% der Deutschen hatten deshalb bereits im Auto Sex, 32% auf dem Balkon und 31% im Park.
