#fact15.Box.Box--tiny.Box--bg-green(class="animate15")
	.Fb
		div
			span Fakt
			span 15
		div
			span Share
			span 15
	.Box-body
		.Box-center
			.Heading.Heading--small.Heading--white
				h1 Woran denkst Du gerade?
			.Copy.Copy--small.Copy--white
				p 26% denken beim Sex an den Urlaub, 14% an ihren Beruf, 12% an die Probleme mit dem Nachwuchs und 6% ans Kochen. Und woran denkst Du?
