#fact10(class="invisible")
.Box.Box--tiny.Box--bg-grey
	.Fb
		div
			span Fakt
			span 10
		div
			span Share
			span 10
	.Box-body
		.Box-bottom
			.Heading.Heading--small
				h1 Kommt Zeit, kommt Sex
			.Copy.Copy--small
				p Stimmt fast! Zumindest sind Leute zwischen 56 und 65 Jahren in Deutschland sexuell aktiver als die unter 25. Merke: Das Alter kann also getrost kommen.
