#fact12.Box.Box--double(class="animate12")
	.Fb
		div
			span Fakt
			span 12
		div
			span Share
			span 12
	.Box-body
		.Figure.Figure--left
			include ../_svg/amorelie_12.svg
		.Box-right
			.Heading.Heading--double
				h1 Geile Tische
			.Copy.Copy--double
				p Hinter dem heimischen Bett ist der Küchentisch mit 14% der zweitbeliebteste Ort für Sex. Ob Sex à la Carte oder Schnellimbiss wissen wir nicht!
