#fact18.Box.Box--single.Box--bg-lightgrey(class="animate18")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/fact18.html")
			div
				span Fakt
				span 18
			div
				span Share
				span 18
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--full
			.Figure--animation
				span.counter.counter--18
				span.headline Tabletten verkauft seit deinem Besuch auf der Webseite
			include ../_svg/amorelie_18.svg
		.Box-bottom
			.Heading
				h1 Harte Zahlen
			.Copy
				p Pro Sekunde werden 7 „Erektions-Tabletten für den Mann“ verkauft, 604.800 am Tag, über 18 Millionen im Monat!
