#fact14(class="invisible")
.Box.Box--double.Box--bg-rosa
	.Fb
		div
			span Fakt
			span 14
		div
			span Share
			span 14
	.Box-body
		.Box-right
			.Heading.Heading--double
				h1 Öfter mal was Neues
			.Copy.Copy--double
				p Für 61% der Deutschen gehört zu gutem Sex, gemeinsam Neues auszuprobieren und damit aktiv gegen Langeweile beim Liebesspiel vorzugehen. Deutschland - Entdeckerland!
