#fact29.Box.Box--double.Box--bg-rosa(class="animate29")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"fact29.html")
			div
				span Fakt
				span 29
			div
				span Share
				span 29
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--left
			include ../_svg/amorelie_29.svg
		.Box-right
			.Heading.Heading--double
				h1 S.O.S – Sex oder Streiten
			.Copy.Copy--double
				p Laut einer Studie werden Paare, die sich länger als eine Minute direkt in die Augen sehen, entweder streiten oder Sex haben. Dann doch lieber Sex, oder?!
