#fact29(class="invisible")
.Box.Box--double.Box--bg-rosa(class="animate29")
	.Fb
		div
			span Fakt
			span 29
		div
			span Share
			span 29
	.Box-body
		.Box-right
			.Heading.Heading--double
				h1 S.O.S – Sex oder Streiten
			.Copy.Copy--double
				p Laut einer Studie werden Paare, die sich länger als eine Minute direkt in die Augen sehen, entweder streiten oder Sex haben. Dann doch lieber Sex, oder?!
