#fact26(class="invisible")
.Box.Box--double.Box--bg-lightrosa(class="animate26")
	.Fb
		div
			span Fakt
			span 26
		div
			span Share
			span 26
	.Box-body
		.Box-right
			.Heading.Heading--double
				h1 Flitzeblank
			.Copy.Copy--double
				p Partner, die im Haushalt mit anpacken, haben 50% mehr Sex als solche, die es nicht tun. Merke: Wenn beide Partner anpacken, hat also jeder was davon.
