#fact23(class="invisible")
.Box.Box--tiny.Box--bg-green
	.Fb
		div
			span Fakt
			span 23
		div
			span Share
			span 23
	.Box-body
		.Box-bottom
			.Heading.Heading--small
				h1 Augenblick mal
			.Copy.Copy--small
				p Wenn Frauen nackte M채nner sehen, wandern ihre Blicke abw채rts. Aber nicht etwa bis zum besten St체ck, sondern nur bis zum Bauch (29%) und der Brust (28%). Was f체r eine Verschwendung!
