#fact28.Box.Box--tiny.Box--bg-lightgrey(class="animate28")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"fact28.html")
			div
				span Fakt
				span 28
			div
				span Share
				span 28
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Box-center
			.Heading.Heading--small
				h1 Ich schau Dir in die Augen, Kleines!
			.Copy.Copy--small
				p Männer gucken den Frauen, mit denen sie schlafen, tatsächlich vor allem ins Gesicht. Und nicht auf Brüste, Bauch oder Oberschenkel, wie viele Frauen vielleicht denken.
