#fact25.Box.Box--single.Box--bg-lightgrey(class="animate25")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/?section=fact25")
			div
				span Fakt
				span 25
			div
				span Share
				span 25
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--top
			include ../_svg/amorelie_25.svg
		.Box-bottom
			.Heading
				h1 Gelenk<span>ich</span>
			.Copy
				p Apropos „Selbst ist der Mann“: Jeder vierte Mann hat schon versucht, sich selbst oral zu befriedigen. Was für eine Vorstellung!
