#fact24(class="invisible")
.Box.Box--tiny.Box--bg-greyblue(class="animate24")
	.Fb
		div
			span Fakt
			span 24
		div
			span Share
			span 24
	.Box-body
		.Box-bottom
			.Heading.Heading--small
				h1 Leckere Lekt체re
			.Copy.Copy--small
				p Frauen, die Sexromane lesen, haben doppelt so viel Sex wie Frauen, die solche B체cher nicht lesen. Na dann: erst aufbl채ttern, dann entbl채ttern!
