#fact22.Box.Box--double.Box--bg-lightrosa(class="animate22")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/fact22.html")
			div
				span Fakt
				span 22
			div
				span Share
				span 22
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--left
			.Figure--animation
				span.headline Alle
				span.counter.counter--22
					ul.first
						li 0
						li 1
						li 2
						li 3
					ul.second
						li 0
						li 1
						li 2
						li 3
						li 4
						li 5
						li 6
						li 7
						li 8
						li 9
						li 0
						li 1
						li 2
						li 3
						li 4
						li 5
						li 6
						li 7
						li 8
						li 9
						li 0
						li 1
						li 2
						li 3
						li 4
						li 5
						li 6
						li 7
						li 8
						li 9
						li 0
				span.subline Sekunden
			include ../_svg/amorelie_22.svg
		.Box-right
			.Heading.Heading--double
				h1 Kurze Munterbrechung
			.Copy.Copy--double
				p Studien zufolge denkt über ein Drittel der Männer alle 30 Sekunden an Sex – bei den Frauen nur jede zehnte. Ob jeweils für 30 Sekunden wurde leider nicht getestet!
