#fact22.Box.Box--double.Box--bg-lightrosa(class="animate22")
	.Fb
		div
			span Fakt
			span 22
		div
			span Share
			span 22
	.Box-body
		.Figure.Figure--left
			include ../_svg/amorelie_22.svg
		.Box-right
			.Heading.Heading--double
				h1 Kurze Munterbrechung
			.Copy.Copy--double
				p Studien zufolge denkt über ein Drittel der Männer alle 30 Sekunden an Sex – bei den Frauen nur jede zehnte. Ob jeweils für 30 Sekunden wurde leider nicht getestet!
