#fact20(class="invisible")
.Box.Box--tiny.Box--bg-lightgrey(class="animate20")
	.Fb
		div
			span Fakt
			span 20
		div
			span Share
			span 20
	.Box-body
		.Box-center
			.Heading.Heading--small
				h1 SperMathematik
			.Copy.Copy--small
				p Wusstest Du, dass ein einziger Mann in 2 Wochen so viele Spermien produziert, dass es theoretisch ausreichte, jede fruchtbare Frau auf diesem Planeten zu schwängern? Wer rechnet so etwas eigentlich aus?
