#fact2.Box.Box--double.Box--bg-greyblue(class="animate2")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/fact2.html")
			div
				span Fakt
				span 2
			div
				span Share
				span 2
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--left
			include ../_svg/amorelie_02_strumpfband.svg
		.Box-right
			.Heading.Heading--double
				h1 Strumpfband vs. Schrumpfband
			.Copy.Copy--double
				p Untersuchungen belegen: Völlige sexuelle Abstinenz kann dazu führen, dass der Penis kleiner wird.
