#fact21.Box.Box--double.Box--right(class="animate21")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/fact21.html")
			div
				span Fakt
				span 21
			div
				span Share
				span 21
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--left
			include ../_svg/amorelie_21.svg
		.Box-right
			.Heading.Heading--double
				h1 Uhrzeit-Triebe
			.Copy.Copy--double
				p Frauen kommen zwischen 23 und 2 Uhr nachts am besten in Stimmung. Männer haben eher morgens zwischen 6 und 9 Uhr die meiste Lust.
