#fact2(class="invisible")
.Box.Box--double.Box--bg-greyblue(class="animate2")
	.Fb
		div
			span Fakt
			span 2
		div
			span Share
			span 2
	.Box-body
		.Box-svg.Box-svg--left
			include ../_svg/amorelie_02_strumpfband.svg
		.Box-right
			.Heading.Heading--double
				h1 Strumpfband vs. Schrumpfband
			.Copy.Copy--double
				p Untersuchungen belegen: Völlige sexuelle Abstinenz kann dazu führen, dass der Penis kleiner wird.
