#fact23.Box.Box--tiny.Box--bg-green(class="animate23")
	.Fb
		div
			span Fakt
			span 23
		div
			span Share
			span 23
	.Box-body
		.Box-center
			.Heading.Heading--small.Heading--white
				h1 Augenblick mal
			.Copy.Copy--small.Copy--white
				p Wenn Frauen nackte M채nner sehen, wandern ihre Blicke abw채rts. Aber nicht etwa bis zum besten St체ck, sondern nur bis zum Bauch (29%) und der Brust (28%). Was f체r eine Verschwendung!
