#fact26.Box.Box--double.Box--bg-lightrosa(class="animate26")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/fact26.html")
			div
				span Fakt
				span 26
			div
				span Share
				span 26
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--left
			include ../_svg/amorelie_26.svg
		.Box-right
			.Heading.Heading--double
				h1 Flitzeblank
			.Copy.Copy--double
				p Partner, die im Haushalt mit anpacken, haben 50% mehr Sex als solche, die es nicht tun. Merke: Wenn beide Partner anpacken, hat also jeder was davon.
