#fact3(class="invisible")
.Box.Box--tiny
	.Fb
		span Fakt
		span 3
	.Box-body
		.Box-bottom
			.Heading.Heading--small
				h1 Kein Witz!
			.Copy.Copy--small
				p Fast 80% aller erzählten Witze dieser Welt haben einen sexuellen Hintergrund. Nicht nur Sex macht Spaß, sondern auch darüber reden!
