#fact34.Box.Box--tiny.Box--bg-lightrosa(class="animate34")
	.Fb
		div
			span Fakt
			span 34
		div
			span Share
			span 34
	.Box-body
		.Box-center
			.Heading.Heading--small
				h1 Lang oder kurz
			.Copy.Copy--small
				p Satte 324 Sekunden bzw. schlappe 5,4 Minuten. So lange dauert durchschnittlicher Sex. Der eine findet’s lang, die andere kurz. Wir sagen: Hauptsache ihr habt Spaß!
