#fact31.Box.Box--single.Box--bg-lightgrey(class="animate31")
	.Fb
		div
			span Fakt
			span 31
		div
			span Share
			span 31
	.Box-body
		.Figure.Figure--top
			include ../_svg/amorelie_31.svg
		.Box-bottom
			.Heading
				h1 Toy Toy Toy
			.Copy
				p Um dem Sexleben neuen Schwung zu verleihen, greifen 45% der Deutschen gerne mal zu Sextoys und anderen Hilfsmitteln. Weitere 33% könnten sich vorstellen, eins anzuschaffen.
