#fact32.Box.Box--single.Box--bg-greyblue(class="animate32")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"fact32.html")
			div
				span Fakt
				span 32
			div
				span Share
				span 32
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--top
			include ../_svg/amorelie_32.svg
		.Box-bottom
			.Heading
				h1 Spitze unterm Baum
			.Copy
				p 48% der Frauen wünschen sich zu Weihnachten »Dessous«. Ein absoluter Spitzen-Wert, wie wir finden!
