#fact35.Box.Box--tiny.Box--bg-green(class="animate35")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"fact35.html")
			div
				span Fakt
				span 35
			div
				span Share
				span 35
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Box-center
			.Heading.Heading--small.Heading--white
				h1 Frohe Zweinacht
			.Copy.Copy--small.Copy--white
				p In Deutschland kommen im September die meisten Babys auf die Welt – fast 10% mehr als in der Jahresmitte.. Und im Dezember rund um das »Fest der Liebe« wurden sie folglich gezeugt.
