#fact3.Box.Box--tiny(class="animate3")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/?section=fact3")
			div
				span Fakt
				span 3
			div
				span Share
				span 3
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Box-center
			.Heading.Heading--small
				h1 Kein Witz!
			.Copy.Copy--small
				p Fast 80% aller erzählten Witze dieser Welt haben einen sexuellen Hintergrund. Nicht nur Sex macht Spaß, sondern auch darüber reden!
