#fact35(class="invisible")
.Box.Box--tiny.Box--bg-green
	.Fb
		div
			span Fakt
			span 35
		div
			span Share
			span 35
	.Box-body
		.Box-bottom
			.Heading.Heading--small
				h1 Frohe Zweinacht
			.Copy.Copy--small
				p In Deutschland kommen im September die meisten Babys auf die Welt – fast 10% mehr als im Jahresmittel. Und im Dezember rund um das »Fest der Liebe« wurden sie folglich gezeugt.
