#fact32(class="invisible")
.Box.Box--single.Box--bg-greyblue
	.Fb
		div
			span Fakt
			span 32
		div
			span Share
			span 32
	.Box-body
		.Box-bottom
			.Heading
				h1 Spitze unterm Baum
			.Copy
				p 48% der Frauen wünschen sich zu Weihnachten »Dessous«. Ein absoluter Spitzen-Wert, wie wir finden!
