#fact30.Box.Box--double(class="animate30")
	.Fb
		div
			span Fakt
			span 30
		div
			span Share
			span 30
	.Box-body
		.Figure.Figure--left
			include ../_svg/amorelie_30.svg
		.Box-right
			.Heading.Heading--double
				h1 Süßer die Glocken nie klingen
			.Copy.Copy--double
				p 34% der Deutschen hatten schon mal Sex auf einer Weihnachtsfeier. Ob mit dem Chef, der Chefin oder dem süßen Kellner, war nicht herauszufinden.
