#fact3(class="invisible")
.Box.Box--tiny
	.Fb
		div
			span Fakt
			span 3
		div
			span Share
			span 3

	.Box-body
		.Box-bottom
			.Heading.Heading--small
				h1 Kein Witz!
			.Copy.Copy--small
				p Fast 80% aller erzählten Witze dieser Welt haben einen sexuellen Hintergrund. Nicht nur Sex macht Spaß, sondern auch darüber reden!
