#fact4.Box.Box--tiny.Box--bg-lightgrey(class="animate4")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"fact4.html")
			div
				span Fakt
				span 4
			div
				span Share
				span 4
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Box-center
			.Heading.Heading--small
				h1 Harte Tatsachen
			.Copy.Copy--small
				p Der deutsche Durchschnitts-Penis ist im harten Zustand 14,48 cm lang und hat einen Umfang von 12,4 cm.
