#fact4(class="invisible")
.Box.Box--tiny.Box--bg-lightgrey(class="animate4")
	.Fb
		div
			span Fakt
			span 4
		div
			span Share
			span 4
	.Box-body
		.Box-bottom
			.Heading.Heading--small
				h1 Harte Tatsachen
			.Copy.Copy--small
				p Der deutsche Durchschnitts-Penis ist im harten Einsatz 14,48 cm lang und hat einen Umfang von 12,4 cm. Wir sind uns aber sicher: die Qualität zählt!
