#fact5.Box.Box--double.Box--bg-lightgrey(class="animate5")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"fact5.html")
			div
				span Fakt
				span 5
			div
				span Share
				span 5
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--full
			.Figure--animation
				span.headline Kondomverbrauch seitdem Du auf der Seite bist:
				span.counter.counter--5
			include ../_svg/amorelie_05_gummis.svg
		.Box-top
			.Heading
				h1 Gib Gummi!
			.Copy
				p In Deutschland werden pro Minute 342 Kondome verbraucht. Hoffen wir nicht, dass es weniger werden – macht Sex doch viel zu viel Spaß!
