#fact5(class="invisible")
.Box.Box--double.Box--bg-lightgrey(class="animate5")
	.Fb
		div
			span Fakt
			span 5
		div
			span Share
			span 5
	.Box-body
		.Box-top
			.Heading
				h1 Gib Gummi!
			.Copy
				p In Deutschland werden pro Minute 342 Kondome verbraucht. Hoffen wir nicht, dass es weniger werden – macht Sex doch viel zu viel Spaß!
