#fact6(class="invisible")
.Box.Box--single.Box--right.Box--bg-rosa(class="animate6")
	.Fb
		div
			span Fakt
			span 6
		div
			span Share
			span 6
	.Box-body
		.Figure.Figure--top
			.Figure--animation
				span.headline So hot right now
				span.counter.counter--6 25°
			include ../_svg/amorelie_06_gradwanderung.svg
		.Box-bottom
			.Heading.Heading--white
				h1 Grad°-Wanderung
			.Copy.Copy--white
				p Die ideale Raumtemperatur für Sex liegt bei 20° bis 25° Grad. Unter 16° sinken bei IHM sogar die Lust und bei IHR neben der Lust auch noch die Fruchtbarkeit. Fazit: Kamin anheizen, heizt an!
