#fact6.Box.Box--single.Box--right.Box--bg-rosa(class="animate6")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"fact6.html")
			div
				span Fakt
				span 6
			div
				span Share
				span 6
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--top
			.Figure--animation
				span.headline So hot right now
				span.counter.counter--6
					ul.first
						li &nbsp;
						li 1
						li 2
					ul.second
						li 0
						li 1
						li 2
						li 3
						li 4
						li 5
						li 6
						li 7
						li 8
						li 9
						li 0
						li 1
						li 2
						li 3
						li 4
						li 5
						li 6
						li 7
						li 8
						li 9
						li 0
						li 1
						li 2
						li 3
						li 4
						li 5
					ul.third
						li °
			include ../_svg/amorelie_06_gradwanderung.svg
		.Box-bottom
			.Heading.Heading--white
				h1 Grad°-Wanderung
			.Copy.Copy--white
				p Die ideale Raumtemperatur für Sex liegt bei 20° bis 25° Grad. Unter 16° sinkt bei IHM die Lust, bei IHR sogar die Fruchtbarkeit. Fazit: Kamin anheizen, heizt an!
