#fact7(class="invisible")
.Box.Box--tiny.Box--bg-grey(class="animate7")
	.Fb
		div
			span Fakt
			span 7
		div
			span Share
			span 7
	.Box-body
		.Box-center
			.Heading.Heading--small
				h1 Flotter Zweier
			.Copy.Copy--small
				p Wer 2x wöchentlich Sex hat, stärkt sein Immunsystem und lebt im Schnitt 2 Jahre länger. Das nur als kleiner Investitionstipp in die Zukunft!
