#fact8.Box.Box--tiny(class="animate8")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/fact8.html")
			div
				span Fakt
				span 8
			div
				span Share
				span 8
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Box-center
			.Heading.Heading--small
				h1 Weltweiter Verkehr
			.Copy.Copy--small
				p Global betrachtet haben in jeder Sekunde 2.778 Paare Sex – pro Tag sind das über 240 Millionen Akte von fast einer halben Milliarde Menschen. Aufschlussreiche Verkehrsstatistik!
