#fact9.Box.Box--single.Box--bg-lightpink(class="animate9")
	.Fb
		a(href="https://www.facebook.com/sharer/sharer.php?u="+BaseURL+"/"+BaseVZ+"/?section=fact9")
			div
				span Fakt
				span 9
			div
				span Share
				span 9
	.Fb--hint
		img(src="assets/images/facebook-share.png")
	.Box-body
		.Figure.Figure--top.Figure--extend
			.Figure--input
				div
					span.heading Dein Alter:
					span.input
						input(type="text" name="age" value="??" max="2")
				div
					span.heading Deine Sexy-Time in Tagen:
					span.input
						input(type="number" name="time" value="00" readonly="readonly")
			include ../_svg/amorelie_09.svg
		.Box-bottom
			.Heading
				h1 Sex in a lifetime
			.Copy
				p Errätst Du, wie viel Sex man im Leben hat? Oder besser gesagt, wie wenig. Wir leben im Schnitt 71 Jahre. Nur 0,45% oder 117 Tage davon haben wir mit unseren Partnern Sex. Da geht doch mehr, oder?!
