.Outro
	.Outro-body
		div
			div
				img(src="assets/images/calender.jpg")
			div
				div
					h1.
						Heißer, jetzt ist Zweinachtszeit!
					p.
						Sex mal 4 Überraschungen für eine heiße Vorweih»Nachts«zeit erwarten Euch in diesem „geilsten Adventskalender aller Zeiten“. Versteckt in 24 lecker designten Boxen zum Ausziehen. Das ideale (Selbst-) Geschenk, wenn Euch nicht nur vom Glühwein heiß werden soll.
					p.
						Den »Adventskalender mit Steher-Qualitäten« jetzt zum Knusperpreis einsacken!
