extends _layout/_layout

block title
	- var FBFaktNr = 2
	- var FBFaktTitle = "Strumpfband vs. Schrumpfband"
	- var FBFaktText = "Untersuchungen belegen: Völlige sexuelle Abstinenz kann dazu führen, dass der Penis kleiner wird."
	- var FBFaktImage = "02_strumpfband.jpg"
	+metatitle()

block meta
	+fbmeta()

block content
	include ./_sections/all.pug
