extends _layout/_layout

block title
	- var FBFaktNr = 9
	- var FBFaktTitle = "Sex in a lifetime"
	- var FBFaktText = "Errätst Du, wie viel Sex man im Leben hat? Oder besser gesagt, wie wenig. Wir leben im Schnitt 71 Jahre. Nur 0,45% oder 117 Tage davon haben wir mit unseren Partnern Sex. Da geht doch mehr, oder?!"
	- var FBFaktImage = "09_stoppuhr_sexinalifetime.jpg"
	+metatitle()

block meta
	+fbmeta()

block content
	include ./_sections/all.pug
