extends _layout/_layout

block title
	- var FBFaktNr = 8
	- var FBFaktTitle = "Weltweiter Verkehr"
	- var FBFaktText = "Global betrachtet haben in jeder Sekunde 2.778 Paare Sex – pro Tag sind das über 240 Millionen Akte von fast einer halben Milliarde Menschen. Aufschlussreiche Verkehrsstatistik!"
	- var FBFaktImage = "00_allgemein.jpg"
	+metatitle()

block meta
	+fbmeta()

block content
	include ./_sections/all.pug
