extends _layout/_layout

block title
	- var FBFaktNr = 5
	- var FBFaktTitle = "Gib Gummi!"
	- var FBFaktText = "In Deutschland werden pro Minute 342 Kondome verbraucht. Hoffen wir nicht, dass es weniger werden – macht Sex doch viel zu viel Spaß!"
	- var FBFaktImage = "05_gummis.jpg"
	+metatitle()

block meta
	+fbmeta()

block content
	include ./_sections/all.pug
