extends _layout/_layout

block title
	- var FBFaktNr = 11
	- var FBFaktTitle = "The happy Twenties"
	- var FBFaktText = "Dafür haben 67% der 20 bis 30-Jährigen mit festem Partner die höchste sexuelle Zufriedenheit."
	- var FBFaktImage = "00_allgemein.jpg"
	+metatitle()

block meta
	+fbmeta()

block content
	include ./_sections/all.pug
