extends _layout/_layout

block title
	- var FBFaktNr = 14
	- var FBFaktTitle = "Öfter mal was Neues"
	- var FBFaktText = "Für 61% der Deutschen gehört zu gutem Sex, gemeinsam Neues auszuprobieren und damit aktiv gegen Langeweile beim Liebesspiel vorzugehen. Deutschland - Entdeckerland!"
	- var FBFaktImage = "14_handschellen.jpg"
	+metatitle()

block meta
	+fbmeta()

block content
	include ./_sections/all.pug
