extends _layout/_layout

block title
		title Sex in a lifetime - Fakt 9 // 36 NACKTE TATSACHEN presented by Amorelie

block meta
		meta(name="description", content="Errätst Du, wie viel Sex man im Leben hat? Oder besser gesagt, wie wenig. Wir leben im Schnitt 71 Jahre. Nur 0,45% oder 117 Tage davon haben wir mit unseren Partnern Sex. Da geht doch mehr, oder?!")
		meta(property="og:url", content=BaseURL+"/"+BaseVZ+"/fakt9.html")
		meta(property="og:type", content="article")
		meta(property="og:title", content="Sex in a lifetime  - Fakt 9 // 36 NACKTE TATSACHEN presented by Amorelie")
		meta(property="og:description", content="Errätst Du, wie viel Sex man im Leben hat? Oder besser gesagt, wie wenig. Wir leben im Schnitt 71 Jahre. Nur 0,45% oder 117 Tage davon haben wir mit unseren Partnern Sex. Da geht doch mehr, oder?!")

block content
	#start
		include ./_sections/intro.pug
	.Boxen
		include ./_sections/box1.pug
		include ./_sections/box2.pug
		include ./_sections/box3.pug
		include ./_sections/box4.pug
		include ./_sections/box5.pug
		include ./_sections/box6.pug
		include ./_sections/box7.pug
		include ./_sections/box8.pug
		include ./_sections/box9.pug
		include ./_sections/box10.pug
		include ./_sections/box11.pug
		include ./_sections/box12.pug
		include ./_sections/box13.pug
		include ./_sections/box14.pug
		include ./_sections/box15.pug
		include ./_sections/box16.pug
		include ./_sections/box17.pug
		include ./_sections/box18.pug
		include ./_sections/box19.pug
		include ./_sections/box20.pug
		include ./_sections/box21.pug
		include ./_sections/box22.pug
		include ./_sections/box23.pug
		include ./_sections/box24.pug
		include ./_sections/box25.pug
		include ./_sections/box26.pug
		include ./_sections/box27.pug
		include ./_sections/box28.pug
		include ./_sections/box29.pug
		include ./_sections/box30.pug
		include ./_sections/box31.pug
		include ./_sections/box32.pug
		include ./_sections/box33.pug
		include ./_sections/box34.pug
		include ./_sections/box35.pug
		include ./_sections/box36.pug
	#bottom
		include ./_sections/outro.pug
