extends _layout/_layout

block title
	- var FBFaktNr = 6
	- var FBFaktTitle = "Grad°-Wanderung"
	- var FBFaktText = "Die ideale Raumtemperatur für Sex liegt bei 20° bis 25° Grad. Unter 16° sinkt bei IHM die Lust, bei IHR sogar die Fruchtbarkeit. Fazit: Kamin anheizen, heizt an!"
	- var FBFaktImage = "06_gradwanderung.jpg"
	+metatitle()

block meta
	+fbmeta()

block content
	include ./_sections/all.pug
