extends _layout/_layout

block title
	- var FBFaktNr = 1
	- var FBFaktTitle = "In Socken verlocken"
	- var FBFaktText = "Jeder von uns kennt sich in Sachen Liebe, Erotik & Sex bestens aus. Klar doch! Glaubst Du’s wirklich? Damit das ab jetzt tatsächlich so ist, haben wir für Dich die 36 heißesten, witzigsten, schlüpfrigsten und härtesten Fakten über das »schönste Thema der Welt« Tag & Nacht recherchiert und auf den Punkt gebracht. Na dann: Jetzt lässt die Wahrheit die Hüllen fallen!"
	- var FBFaktImage = "01_sockenleine.jpg"
	+metatitle()

block meta
	+fbmeta()

block content
	include ./_sections/all.pug
