extends _layout/_layout

block title
	- var FBFaktNr = 13
	- var FBFaktTitle = "Besser runterkommen"
	- var FBFaktText = "Sex ist das effektivste Beruhigungsmittel – er soll 10x besser wirken als Valium."
	- var FBFaktImage = "13_zzz.jpg"
	+metatitle()

block meta
	+fbmeta()

block content
	include ./_sections/all.pug
