extends _layout/_layout

block title
	- var FBFaktNr = 12
	- var FBFaktTitle = "Küchenbeichte"
	- var FBFaktText = "Hinter dem heimischen Bett ist der Küchentisch mit 14% der zweitbeliebteste Ort für Sex. Ob Sex à la Carte oder Schnellimbiss wissen wir nicht!"
	- var FBFaktImage = "12_tische.jpg"
	+metatitle()

block meta
	+fbmeta()

block content
	include ./_sections/all.pug
