extends _layout/_layout

block title
		title Home - Amorelie

block content
	#start
		include ./_sections/intro.pug
	.Boxen
		include ./_sections/box1.pug
		include ./_sections/box2.pug
		include ./_sections/box3.pug
		include ./_sections/box4.pug
		include ./_sections/box5.pug
		include ./_sections/box6.pug
		include ./_sections/box7.pug
		include ./_sections/box8.pug
