extends _layout/_layout

block title
		title 36 NACKTE TATSACHEN presented by Amorelie

block meta
		meta(name="description", content="Jeder von uns kennt sich in Sachen Liebe, Erotik & Sex bestens aus. Klar doch! Glaubst Du’s wirklich? Damit das ab jetzt tatsächlich so ist, haben wir für Dich die 36 heißesten, witzigsten, schlüpfrigsten und härtesten Fakten über das »schönste Thema der Welt« Tag & Nacht recherchiert und auf den Punkt gebracht. Na dann: Jetzt lässt die Wahrheit die Hüllen fallen!")
		meta(property="og:url", content=BaseURL+"/"+BaseVZ+"/")
		meta(property="og:type", content="article")
		meta(property="og:title", content="36 nackte Tatsachen")
		meta(property="og:description", content="Jeder von uns kennt sich in Sachen Liebe, Erotik & Sex bestens aus. Klar doch! Glaubst Du’s wirklich? Damit das ab jetzt tatsächlich so ist, haben wir für Dich die 36 heißesten, witzigsten, schlüpfrigsten und härtesten Fakten über das »schönste Thema der Welt« Tag & Nacht recherchiert und auf den Punkt gebracht. Na dann: Jetzt lässt die Wahrheit die Hüllen fallen!")
		meta(property="og:image", content=BaseURL+"/"+BaseVZ+"/assets/images/00_allgemein.jpg")

block content
		include ./_sections/all.pug
