.Box
	position: relative
	background-color: #ffffff
	+transform(perspective( 1000px ))
	backface-visibility: hidden
	+bp(medium)
		display: inline-block
		float: left
	&--right
		+bp(large)
			float: right
	&--single
		width: +unit(12)
		+bp(medium)
			width: +unit(12)
			padding-bottom: +unit(8)
		+bp(large)
			width: +unit(6)
			padding-bottom: +unit(7)
	&--double
		width: +unit(12)
		+bp(medium)
			width: +unit(12)
			padding-bottom: +unit(6)
		+bp(large)
			width: +unit(6)
			padding-bottom: +unit(4)
	&--tiny
		width: +unit(12)
		padding-top: +unit(3)
		+bp(medium)
			padding-top: 0
			width: +unit(6)
			padding-bottom: +unit(4)
		+bp(large)
			width: +unit(3)
			padding-bottom: +unit(3)
	&-body

		+bp(medium)
			position: absolute
			left: 0
			right: 0
			bottom: 0
			top: 0
	&-svg
		height: 100%
		&--left
			width: 100%
			+bp(medium)
				width: 50%
			svg
				width: 100%
				height: 100%
	&-bottom
		padding: 20px
		+bp(medium)
			padding: 0
			position: absolute
			bottom: 10px
			left: 50px
			right: 50px
	&-right
		padding: 20px
		+bp(medium)
			padding: 0px
			position: absolute
			top: 50%
			+transform(translateY(-50%))
			left: 50%
			right: 10px
	&--bg-lightrosa
		background-color: $color-bg-lightrosa
	&--bg-lightpink
		background-color: $color-bg-lightpink
	&--bg-greyblue
		background-color: $color-bg-greyblue
	&--bg-lightgrey
		background-color: $color-bg-lightgrey
	&--bg-rosa
		background-color: $color-bg-rosa
	&--bg-grey
		background-color: $color-bg-grey
	&--bg-middlegrey
		background-color: $color-bg-middlegrey
	&--bg-green
		background-color: $color-bg-green

	.Fb
		position: absolute
		left: 0
		top: 0
		height: 70px
		width: 70px
		color: white
		text-align: center
		overflow: hidden
		z-index: 999
		cursor: pointer
		+box-shadow(0,0,0px, rgba(0,0,0,.4))
		+transition(all, 0.35s)
		div
			position: absolute
			display: block
			height: 70px
			width: 70px

			&:first-child
				background-color: rgba(0,0,0,0.25)
				z-index: 1
				+transform(translateX(0%))
			&:last-child
				overflow: hidden
				top: 0px
				left: 0px
				width: 70px
				height: 70px
				background-color: #09d0ad
				+transform(translateX(-100%))
				>div
					width: 70px
					height: 70px
			+transition(all, 0.35s)
		&:hover
			+box-shadow(0,0,15px, rgba(0,0,0,.4))
			div:first-child
				+transform(translateX(100%))
			div:last-child
				+transform(translateX(0%))
				top: 0px
				width: 70px
				height: 70px
				z-index: 99
		span
			display: block
			padding: 0
			line-height: 1.35rem
			&:first-child
				padding-top: 8px
				text-transform: uppercase
				+fontcopy
				font-size: 0.6em
			&:last-child
				+fontbold
				font-size: 31px
