.Navigation--show
	.Header
		height: 100%

.Header
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 9999
	&-toggle-text
		display: none
		+bp(smaller)
			display: block
			position: absolute
			right: 75px
			top: 50%
			color: $color-bg-rosa
			text-transform: uppercase
			font-size: 0.7em
			+fontbold
			+transform(translateY(-50%))
		+bp(medium)
			font-size: 0.8em
			right: 85px
		+bp(large)
			font-size: 0.9em
			right: 120px
	&-body
		position: relative
		max-width: $max-size
		padding: 0 $gap-size
		margin: 0 auto
		+bp(large)
			padding: 0 $gap-size-large
	&-logo
		height: $header-height-mobil
		+bp(medium)
			height: $header-height
		svg
			height: 100%
			width: auto
			max-width: 160px
			+bp(medium)
				max-width: 250px
